.hospital-container1 {
    background: linear-gradient(90deg, #EBF3FF 0%, #E3EEFF 100%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 60px;
   
}

.hospital-link {
    text-decoration: none;
    color: inherit;
}

.hospital-card1 {
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 380px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hospital-card1:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

#hospital-card-img1 {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 3px solid #007bff; 
}

.hospital-info1 {
    padding: 15px;
    text-align: center;
}

#hospital_name1 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.hospital-info1 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    font-size: 18px;
    color: #666;
}

#location1, #ph_number1, #rating1, #timing1 {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #555;
    gap: 5px;
}


.hospital-card1:hover #hospital-card-img1 {
    border-bottom: 3px solid #28a745; 
}
